.datatable {
    overflow: auto;
    height: 600px;
    width: auto;

    
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    display: inline-block; 
  }
  
  .cellWithStatus.Expired {
    color: red;
    background-color: rgba(189, 3, 3, 0.103);

  }
  
  .cellWithStatus.NotExpired {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);

  }
  