/* Your corrected combined SCSS file */
.datatable {
    overflow: auto;
    height: 600px;
    width: auto;
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    display: inline-block; /* Display the text highlight as inline */
  }
  
  .cellWithStatus.Software {
    color: green; /* Green color for SOFTWARE product type */
    background-color: rgba(0, 128, 0, 0.151);
  }
  
  .cellWithStatus.Device {
    color: rgb(0, 26, 255);
    background-color: rgba(3, 105, 189, 0.103);
  }
  