.datatable {
    overflow: auto;
    height: 600px;
    width: auto;
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .cellWithStatus.Software {
    color: green; 
    background-color: rgba(0, 128, 0, 0.151);
  }
  
  .cellWithStatus.Device {
    color: rgb(0, 26, 255);
    background-color: rgba(3, 105, 189, 0.103);
  }
  